<div class="contNewpayment">
<h1>New payment</h1>
<h2>for <%= @category %></h2>

<%= form_with(model: @payment, url: create_new_payment_path(@category), method: :post) do |form| %>

    <div class="form">    
        <div class="form">
            <%= form.label :name, "Name" %>
            <%= form.text_field :name, :required => true %>
        </div>

        <div class="form">
            <%= form.label :amount, "Amount" %>
            <%= form.number_field :amount, :required => true %>
        </div>
  
        <div class="form">
            <%= form.submit 'Create payment', class: "FormButton" %>
        </div>
    </div>
  <% end %>

  <%= link_to 'Back', payment_path(@category) %>