<div class="bar">
    <%= link_to  do %> 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M3 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 5.25zm0 4.5A.75.75 0 013.75 9h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 9.75zm0 4.5a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75zm0 4.5a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
    </svg>
    <% end %>

    <h2>Categories</h2>
    
    <%= link_to  do %> 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd" />
    </svg>
    <% end %>    

</div>

<div class='category'>
    <% @categories.each do |category| %>
        <%= link_to payment_path(category.id) do %>
            <div class="icon"> 
                <img src="<%=category.icon%>" alt="Icon"></img>
            </div>
            <div class="text">
                <h4><%= category.name %></h4>
                <br />
                <p><%= category.updated_at.to_date.strftime("%d %B %Y") %></p>
            </div>    
            $<%= category.Totalamount %>
        <% end %>        
    <% end %>
</div>

<footer class="button">
    <%= link_to "New Category", new_home_path %>
</footer>