<h1>Categories</h1>

<%= @current_user.inspect %> <br /><br />
<%= @current_user.id %> <br /><br />
<% @categories.each do |category| %>
    <div>
        <%= link_to category.name, payment_path(category.id) %>
        <%= category.Totalamount %>
    </div>       
<% end %>

<br /><br />

<div>
    <%= link_to "New Category", new_home_path %>
</div>