<div class="contNewCategory">
<h1>New category</h1>
<h2>for <%= @user_owner.name %></h2>

<%= form_with(model: @category, url: home_index_path, method: :post) do |form| %>

    <div class="form">    
        <div class="form">
            <%= form.label :name, "Name" %>
            <%= form.text_field :name %>
        </div>

        <div class="form">
            <%= form.label :icon, "Image" %>
            <%= form.url_field :icon, :required => true %>
        </div>
  
        <div class="form">
            <%= form.submit 'Create category', class: "FormButton" %>
        </div>
    </div>
  <% end %>

  <%= link_to 'Back', root_path %>