<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="bar">
  
    <%= link_to root_path do %>  
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    <% end %>
  
  <h2>LOGIN</h2>
  <%= f.submit "Log in" %>
</div>

<div class="field email">
    <%= f.email_field :email, placeholder: "Email"%>
</div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password"%>
  </div>

<% end %>

<div class="fooLogin">
  <%= link_to "Forgot password?" , new_user_password_path %>
</div>
